.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.page {
  background-color: red;

}
img {
  padding-left: 0px;
  width: 100%;
  position: relative;
  text-indent: 0px;

}

.jumbotron {
 min-height: 30px;
 padding: 2px;
}

.jumbotron h2{
    margin-left: 5px;
}

.jumbotron .btn.default{
    display: inline;
}

/*buttons */
.btn-backlog-col {
 display: block;
 margin: 1px;
}
.btn-primary {
 margin-right: 5px;
}

.btn-tasklet {
 display: inline-block;
 float: right;
 margin-top: 5px;
 margin-bottom: 5px;
 margin-right: 0px;
 margin-left: 5px;
}


/* Muted text for modal forms */
.text-muted {
 color: red;
}

/* Loader CSS taken from https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    position: relative;
    left: 50%;
    border: 5px solid #f3f3f3;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgb(243, 243, 243);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}